# Ambientes virtuais
venv/

# Cache Python
__pycache__/
*.pyc

# Build
build/
dist/

# Outros diretórios
exemplos_construcao/
meu_crud_v1.AppDir/

# PyInstaller
*.spec

# AppImage
*.AppImage
*.AppDir/

# Scripts auxiliares
build.sh
pyinstaller.txt